.bg-custom-background {
  background-color: #121429;
  color: white;
}

.nftCard {
  border: 0.5px solid rgb(98, 144, 161);
  border-radius: 15px;
  padding-top: 35px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  background-color: #34595f;
  margin-bottom: 10px;
  text-align: center;
}

.flexButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

